/* For Mobile Devices */

@media screen and (max-width: 600px) {

    body {
        margin: 0vh auto;
    }

    /* Ḥeader Section Styles */
    header {
        width: 100%;
        height: 20vw;
    }

    .heading-box {
        padding: 5vh 0vh 5vh 10vh;
        margin: 0vh;
    }

    .nav-box {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: row-reverse;
        height: 10vw;
        margin: 6vw 4vw 4vw 10vw;
    }

    /* Banner Section */

    .banner-container {
        width: 95%;
        height: 120%;
        margin: 0vw auto;
    }

    .banner-box {
        width: 100%;
    }

    .banner-menu {
        display: block;
        padding: 10% 6%;
    }

    .banner-menu input {
        width: 80%;
        margin: 3vh;
    }

    .banner-text{
        width: 90%;
        margin: auto;
        margin-bottom: 10vh;
    }
    .banner-menu button {
        width: 80%;
        margin-top: 10px;

    }

    /* Popular Tour Section */
    .p-tour-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        width: 95%;
        margin: 10vw auto 20vh;
    }

    .p-tour-box{
        margin: 4vh auto;
        width: 90%;
    }

    .p-tour-title {
        font-size: 50px;
    }

    .p-tour-detail,
    .p-tour-detail-btm {
        font-size: 20px;
        line-height: 35px;
    }

    .p-tour-list {
        font-size: 20px;
        line-height: 35px;
        margin-left: 20px;
    }

    .p-tour-btn {
        transform: scale(1.5);
        margin-left: 40px;
        margin-bottom: 80px;
    }

    .p-tour-img {
        width: 90%;
        margin: 0vh auto;
    }

    /* Destination Section */

    .destn-box {
        width: 100%;
        margin: 0vw auto 20vh;
    }

    .destn-title {
        font-size: 40px;
    }

    .destn-detail {
        font-size: 20px;
        line-height: 25px;
    }

    .destn-img-container {
        display: block;
    }

    .destn-img-container-mini,
    .destn-img-container-mini-end {
        display: block;
        width: 100%;
    }

    .destn-img,
    .img-padding,
    .destn-img-box-6,
    .destn-img-box-7,
    .destn-img-box-5 {
        width: 70%;
        margin: 4vw auto;
        background-size: cover;
        background-position: center;
        
    }

    .destn-img-box-5 {
        padding-bottom: 3vh;
        background-image: url('../images/rectangle-j9.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 16px;
    }

    .destination {
        font-size: 5.5vw;
    }

    /* Choose Us section */

    .why-ch-us-container {
        width: 95%;
        margin: 0vh auto;
    }

    .why-ch-us{
        width: 90%;
        margin: 0vh auto;
    }
    .why-ch-us-text {
        font-size: 25px;
        line-height: 40px;
        width: 100%;
    }

    .why-ch-us-title {
        font-size: 50px;
    }

    .why-box {
        display: block;
        margin: 0vw auto;
    }

    .why-box-mini {
        margin: 10% auto;
        height: 60vh;
        width: 90%;
    }

    .mini-3 {
        position: static;
    }

    .why-box-title {
        font-size: 35px;
    }

    .why-box-detail {
        font-size: 20px;
        line-height: 40px;
    }

    /* Deals and Discount Section */

    .discount-container {
        margin: 0% auto;
        width: 95%;
    }

    .time-place-box{
        justify-content: center;
        align-items: center;
        margin: 6vw 5vw;
    }

    .time-place-box p{
        padding: 0px 10px;
    }
    .deal-container-1,
    .deal-container-3,
    .deal-container-2 {
        display: flex;
        flex-direction: column-reverse;
        background-position: center;
        height: 800px;
    }

    .deal-box-1,
    .deal-box-2,
    .deal-box-3 {
        width: 80%;
        height: 400px;
    }

    .deal-detail {
        width: 80%;
    }

    .deal-title {
        font-size: 50px;
    }

    .deal-detail-caption {
        font-size: 20px;
        line-height: 30px;
        width: 80%;
    }

    .packege-btn{
        margin: 10% -10%;
    }


    /* Get lost container */

    .get-lost-container {
        width: 90%;
        margin: 0vh auto;
    }

    .get-lost-box {
        display: block;
        margin: 10vh auto;
    }

    .get-lost-title {
        font-size: 50px;
        width: 80%;
    }

    .get-lost-text,
    .get-lost-link {
        font-size: 25;
        line-height: 6vh;
    }

    .see-more-btn {
        margin: 8vh 4vh;

    }

    .get-lost-img-box {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 35px;
    }

    .newsletter-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter-box {
        margin-bottom: 10vh;
        margin-right: 0vw;
        width: 100%;
    }

    .nsltr-title {
        font-size: 50px;
        text-align: left;
        padding: 40px 0px 0px 20px;
    }

    .news-text {
        font-size: 25px;
        line-height: 30px;
        padding-left: 20px;
    }

    .border {
        height: 1px;
        width: 95%;

    }

    .newsletter-box input {
        width: 80%;
        height: 100px;
        margin: 4vh auto;
        margin-left: 20px;
    }

    .newsletter-box input::placeholder {
        font-size: 30px;
    }

    .subscribe {
        width: 80%;
        height: 20vw;
        font-size: 30px;
        margin: 20px;
    }

    .news-img-box {
        border-radius: 16px;
        width: 98%;
    }


    /* Bonus section */


    .bonus-container{
        margin: 0px auto;
        width: 90%;
    }

    .motivation iframe{
        width: 70%;
        height: 69%;
    }


    
    /* Footer Section */
    footer {
        width: 100%;
    }

    .foot-container {
        background: rgba(19, 19, 24, 0.05);
        text-align: center;
        padding-bottom: 110px;
        width: 100%;
    }

    .foot-title,
    .foot-title span {
        font-size: 35px;
    }

    .foot-icon {
        margin-right: 7vh;
    }

    .foot-detail {
        margin: 2vh auto 4vh;
        color: #5A5A5D;
        text-align: center;
        font-family: Mulish;
        width: 90%;
        font-size: 20px;
        line-height: 35px;
        margin-top: 30px;
        padding-bottom: 10vh;
    }

    .foot-img-box {
        transform: scale(2);
    }

    .copyright {
        font-size: 20px;
    }

}